@tailwind base;
@tailwind components;
@tailwind utilities;

.backimage {
    background-image: url("/public/assets/bg.jpg");
    background-size: contain;
    background-position: top;
    background: cover;
    background-attachment: fixed;
}