@tailwind base;
@tailwind components;
@tailwind utilities;

.backimage {
    background-image: url("/public/assets/bg.jpg");
    background-size: contain;
    background-position: top;
    background: cover;
    background-attachment: fixed;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(182, 181, 181);
}